<a href="https://colab.research.google.com/github/Pujithakalluri/basic-codes/blob/main/python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# rectangle code

In [ ]:
length = 45
width = 76
area = length * width

print(area)

3420

Addition of Variables

In [ ]:
a = 23
b = 20
print(a + b)

43

Float datatype

In [ ]:
pi = 3.14
radius = 8.9

area = pi * radius * radius

print(area)

248.71940000000004

String Datatype

In [ ]:
a = 'Learning'
b = 'is fun!'

print(a, b)

Learning is fun!

rat_food

In [ ]:
def calculate(r, unit, arr, n):
    if arr is none or n == 0:
       return -1
    totalFoodRequired = r*unit
    foodTillNow = 0
    for house in range(n):
        foodTillNow += arr[house]
        if foodTillNow >= totalFoodRequired:
            return house + 1
    return 0
r = int(input("enter number of rats: "))
unit = int(input("enter number of units: "))
n = int(input("Number of elements in the array: "))
arr = list(map(int, input("List elements with space separeted: ").split()))
print(calculate(r, arr, n))

enter number of rats: 7
enter number of units: 2
Number of elements in the array: 8
List elements with space separeted: [2,8,3,5,7,4,1,2]

ValueError: invalid literal for int() with base 10: '[2,8,3,5,7,4,1,2]'

# accenture perivious questions

In [ ]:
def SmallLargeSum(array):
    if len(array) <= 3:
        return 0

    even_elements = [array[i] for i in range(len(array)) if i % 2 == 0]
    odd_elements = [array[i] for i in range(len(array)) if i % 2 != 0]

    if len(even_elements) < 2 or len(odd_elements) < 2:
        return 0

    even_elements.sort(reverse=True)
    odd_elements.sort(reverse=True)

    return even_elements[1] + odd_elements[1]


print(SmallLargeSum([3, 2, 1, 7, 5, 4]))
print(SmallLargeSum([4, 0, 7, 9, 6, 4, 2]))

7
10

# sum of natural number

In [ ]:
num, sum = 6,0
for i in range(number+1):
  sum+=i
print(sum)
pr

21

In [ ]:
def differenceofSum(a, b):
    sum_not_divisible = 0
    sum_divisible = 0

    for i in range(1, a + 1):
        if i % b == 0:
            sum_divisible += i
        else:
            sum_not_divisible += i

    return sum_not_divisible - sum_divisible


a = 6
b = 30
result = differenceofSum(a, b)
print(result)

21

In [ ]:
def are_anagrams(str1, str2):
    str1_sorted = sorted(str1.lower())
    str2_sorted = sorted(str2.lower())


    if str1_sorted == str2_sorted:
        return 'yes'
    else:
        return 'no'

str1 = "learn"
str2 = "simple"
result = are_anagrams(str1, str2)
print(result)

no

In [ ]:
str1 = "learn"
str2 = "simple"
if sorted(str1) == sorted(str2):
  print("anagram")
else:
    print("not anagram")

not anagram

In [ ]:
def Productsmallpair(sum, arr):

    if len(arr) < 2:
        return -1


    arr.sort()


    smallest = arr[0]
    second_smallest = arr[1]


    if smallest + second_smallest < sum:
        return smallest * second_smallest


    return 0
sum_val = 9
arr = [5, 4, 2, 3, 9, 1, 7]
print(Productsmallpair(sum_val, arr))

2

In [ ]:
def Productsmallpair(Sum,arr):
    if len(arr) < 2:
        return -1
        arr.sort()
        smallest = arr[0]
        second_smallest = arr[1]
        if smallest + second_smallest < sum:
            return smallest * second_smallest
            return 0
            sum_val = 9
            arr = [5,4,2,3,9,1,7]
            print(Productsmallpair(sum_val, arr))

In [ ]:
def replace_character(str1, ch1, ch2):

    result = []
    for char in str1:
        if char == ch1:
            result.append(ch2)
        elif char == ch2:
            result.append(ch1)
        else:
            result.append(char)


    return ''.join(result)


str1 = "tervpro"
ch1 = "e"
ch2 = "p"
output = replace_character(str1, ch1, ch2)
print(output)

tprvero

In [ ]:
def min_houses_for_rats(r, unit, arr):
    if not arr: return -1
    total_food_required = r * unit
    accumulated_food = 0

    for i, food in enumerate(arr):
        accumulated_food += food
        if accumulated_food >= total_food_required:
            return i + 1

    return 0


print(min_houses_for_rats(7, 2, [2, 8, 3, 5, 7, 4, 1, 2]))

4

In [ ]:
str=input()
words=str.split()
rev_words=words[::-1]
print(" ".join(rev_words))

tervpro
tervpro

In [ ]:
def find_count(arr,num,diff):
  count=0
  for i in arr:
        if abs(i - num) <= diff:
            count += 1
  if count>0:
    return count
  else:
    return -1
arr=list(map(int,input().split()))
num=int(input())
diff=int(input())
print(find_count(arr,num,diff))

In [ ]:
def replace_char(s):
  temp=""
  for i in s:
    if i=="e":
      temp+="p"
    elif i=="p":
      temp+='e'
    else:
      temp+=i
  return temp
s=input()
print(replace_char(s))

In [ ]:
def DectoNBase(n, num):
    notation = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = ""
    while num > 0:
        remainder = num % n
        result = notation[remainder] + result
        num = num // n
    return result
n = int(input())
num = int(input())
print(DectoNBase(n, num))

In [ ]:
n = int(input())
arr = list(map(int,input().split()))
even_arr = []
odd_arr = []
for i in range(n):
    if i%2==0:
        even_arr.append(arr[i])
    else:
        odd_arr.append(arr[i])
even_arr.sort()
odd_arr.sort()
sum = even_arr[-2]+odd_arr[-2]
print(sum)

In [ ]:
def Calculate(m,n):
    sum = 0
    for i in range(m,n+1):
        if i%3==0 and i%5== 0:
            sum += i
    return sum
m = int(input())
n = int(input())
print(Calculate(m,n))

In [ ]:
def lcs(S1, S2):
    res = []
    for i in S1:
        if i in S2:
            res.append(i)
    res = set(res)
    return len(res)
S1 = input()
S2 = input()
print(lcs(S1, S2))