<a href="https://colab.research.google.com/github/Pujithakalluri/basic-codes/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
length = int(input())
arr = list(map(int,input() split()))
even_arr = []
odd_arr = []
for i in range(length):
  if i % 2 == 0
     even_arr.append(arr[i])
  else:
    odd_arr.append(arr[i])
even_arr = sorted(even_arr)
odd_arr = sorted(odd_arr)
print(even_arr [len(even_arr-2)]+ odd_arr[len(odd_arr -2)])

In [ ]:
import math
n=int(input())
r=n%10
if r<=4:
    print(rounddown(n))
else:
   print(roundoff(n))

In [13]:
num = 15
if num > 0:
  print("positive number")
elif num < 0:
    print("zero")
else:
    print("negative number")

positive number

In [14]:
num = 5
sum = 0
for i in range(num+1):
  sum = sum + i
  print(sum)

0
1
3
6
10
15

In [15]:
num = 5
fact = 1
for i in range(1,num+1):
  fact= fact*i
  print(fact)

1
2
6
24
120

In [17]:
a = int(input())
b = int(input())
c = a+b
print()

5
12

In [18]:
num = 6
sum = 0
for i in range(1,num+1):
  sum = sum + i
  print(sum)

1
3
6
10
15
21

In [22]:
num1 = 12
num2 = 14
sum = 0
for i in range(num1,num2+1):
  sum += sum+i
  print(sum)

12
37
88

In [24]:
num1 =23
num2 = 26
if num1 >num2:
  print(num1)
else:
    print(num2)

26

In [26]:
year = 2000

if (year%400 == 0) or (year%4==0 and year%100!=0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

In [ ]:
num = int(input())
sum = 0
for i in  num:
  sum = num + i
  print(sum)

In [ ]:
n = int(input())
p = int(input())
x = n**p
print(x)